<div ng-include="'partials/navbar'"></div>

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Our Awesome Team.<br/>Design Lovers.</h1>
      <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
    </div>
  </div><!-- /row -->

  <div class="row mt centered">
    <div class="col-lg-4">
      <img class="img-circle" src="../../images/pic1.jpg" width="140" alt="">
      <h4>Michael Robson</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-circle" src="../../images/pic2.jpg" width="140" alt="">
      <h4>Pete Ford</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-circle" src="../../images/pic3.jpg" width="140" alt="">
      <h4>Angelica Finning</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
    </div><!--/col-lg-4 -->
  </div><!-- /row -->
</div><!-- /container -->