<div ng-include="'partials/navbar'"></div>

<div class="container">
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3">
      <h1> The Team </h1>
      <h3></h3>
    </div>
  </div><!-- /row -->

  <div class="row mt">
    <div class="col-sm-4">
      <img class="img-circle" src="../../images/akash.jpg" width="100" alt="">
      <h4>Akash Pannu</h4>
      <p></p>
      <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
    </div><!--/col-lg-4 -->

    <div class="col-sm-4">
      <img class="img-circle" src="../../images/stav.jpg" width='100' alt="">
      <h4>Stav Meidan</h4>
      <p></p>
      <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
    </div><!--/col-lg-4 -->
    <div class="col-md-4">
      <img class="img-circle" src="../../images/alex.jpg" width="100" alt="">
      <h4>Alex Buchanan</h4>
      <p></p>
      <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
    </div><!--/col-lg-4 -->
    <div class="col-sm-4">
      <img class="img-circle" src="../../images/jessica.jpg" width="100" alt="">
      <h4>Jessica Weinberg</h4>
      <p></p>
      <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
    </div><!--/col-lg-4 -->

  </div><!-- /row -->
</div><!-- /container -->
