<div ng-include="'partials/navbar'"></div>

<div class="container">
  <div class="row mt text-center">
    <div class="col-lg-6 col-lg-offset-3">
      <h1> The Team </h1>
      <h3></h3>
    </div>
  </div><!-- /row -->

  <div class="row">
    <div class="col-12 col-lg-3 col-sm-3 col-xs-12 text-center">
      <img class="img-circle" src="../../images/akash.jpg" width="100" alt="">
      <h4>Akash Pannu</h4>
      <p></p>
      <p><a href="http://www.linkedin.com"><image src="../../images/linkedin-icon.png" width="25"></a><a href="https://github.com/akash5474"><image src="../../images/github.png" width="25"></a></p>
    </div><!--/col-lg-4 -->

    <div class="col-12 col-lg-3 col-sm-3 col-xs-12 text-center">
      <img class="img-circle" src="../../images/stav.jpg" width='100' alt="">
      <h4>Stav Meidan</h4>
      <p></p>
      <p><a href="http://www.linkedin.com/in/smeidan"><image src="../../images/linkedin-icon.png" width="25"></a><a href="https://github.com/smeidan"><image src="../../images/github.png" width="25"></a></p>
    </div><!--/col-lg-4 -->
    <div class="col-12 col-lg-3 col-sm-3 col-xs-12 text-center">
      <img class="img-circle" src="../../images/alex.jpg" width="100" alt="">
      <h4>Alex Buchanan</h4>
      <p></p>
      <p><a href="http://www.linkedin.com/pub/alex-buchanan/42/b59/625"><image src="../../images/linkedin-icon.png" width="25"></a><a href="https://github.com/buchanaf"><image src="../../images/github.png" width="25"></a></p>
    </div><!--/col-lg-4 -->
    <div class="col-12 col-lg-3 col-sm-3 col-xs-12 text-center">
      <img class="img-circle" src="../../images/jessica.jpg" width="118" alt="">
      <h4>Jessica Weinberg</h4>
      <p></p>
     <p><a href="http://www.linkedin.com/pub/jessica-weinberg/15/618/353/"><image src="../../images/linkedin-icon.png" width="25"></a><a href="https://github.com/jmw511"><image src="../../images/github.png" width="25"></a></p>
    </div><!--/col-lg-4 -->

  </div><!-- /row -->
</div><!-- /container -->
