
  <div class="modal-header">
    <div class="row">
      <div class="col-lg-4">
        {{snippitObj.repoUrl}}
      </div>
      <div class="col-lg-4 col-lg-offset-4">
        <div class="pull-right">
          <button ng-click="goToSnippit()">Go To Snippit</button>
          <button class="btn btn-small" ng-click="dismissModal()">X</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal-body">
     <span hljs source="preSnippitBody"></span><span id="snip-highlight" hljs source="snippitSubStr"></span><span hljs source="postSnippitBody">{{postSnippitBody}}</span>
 </div>
  <div class="modal-footer">
    <button class="btn btn-small pull-right" ng-click="dismissModal()">X</button>
  </div>