<!-- <div ng-include="'partials/navbar'"></div> -->

<div class="jumbotron">
  <div class="form-group">
    <form class="form" name="form" ng-submit="addFile()" novalidate>
      <label>URL</label>
      <input type="text" name="url" class="form-control" ng-model="fileUrl.url" required>
      <button type="submit" class="btn btn-lg btn-primary pull-right">Add File</button>
    </form>
  </div>
  <br><br>
  <button ng-click="testDirectorySearch()" class="btn btn-lg btn-danger">Test Directory Search</button>
</div>

<div class="jumbotron">
  <div class="form-group">
    <form class="form" name="form" ng-submit="findCode()" novalidate>
      <div>
        <label>Library</label>
        <input type="text" name="url" class="form-control" ng-model="findLibrary.library" required>
      </div>
      <div>
        <label>Function</label>
        <input type="text" name="url" class="form-control" ng-model="findFunction.libFunction" required>
      </div>
      <button type="submit" class="btn btn-lg btn-primary pull-right">Search</button>
    </form>
  </div>
</div>

<div>
  <h2>Display Results</h2>
  <p>Results:</p>
  <div ng-show="codeSnippits.length">
    <button ng-disabled="page.currPage === 0"
      ng-click="page.currPage= page.currPage-1" class="btn btn-warning">Prev</button>
    {{page.currPage + 1}} / {{ getNumPages() }}
    <button
      ng-disabled="page.currPage >= codeSnippits.length / page.resultsPerPage - 1"
      ng-click="page.currPage=page.currPage+1" class="btn btn-warning">Next</button>
  </div>
  <div class="snippit" ng-repeat="snippit in codeSnippits |
                                  startPageFrom : page.currPage*page.resultsPerPage |
                                  limitTo : page.resultsPerPage track by $index">
    <pre>{{snippit}}</pre>
  </div>
</div>



<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>FLATTY</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Already a member?</a></li>
          </ul>
        </div>/.nav-collapse
      </div>
    </div>

  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>Find Example Code Snippits in a Snap</h1>
          <form class="form-inline" name="form" ng-submit="addFile()" novalidate>
            <input type="text" name="url" class="form-control" ng-model="fileUrl.url" required>
            <button type="submit" class="btn btn-lg btn-primary">Add File</button>
          </form>
          <form class="form" name="form" ng-submit="findCode()" novalidate>
            <div>
              <label>Library</label>
              <input type="text" name="url" class="form-control" ng-model="findLibrary.library" required>
            </div>
            <div>
              <label>Function</label>
              <input type="text" name="url" class="form-control" ng-model="findFunction.libFunction" required>
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Search</button>
          </form>
        </div><!-- /col-lg-6 -->
        <div class="col-lg-6">
          <img class="img-responsive" src="../../images/ipad-hand.png" alt="">
        </div><!-- /col-lg-6 -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /headerwrap -->

  <div>
    <h2>Display Results</h2>
    <p>Results:</p>
    <div class="snippit" ng-repeat='snippit in codeSnippits track by $index'>
      <snippit snip="snippit"></snippit>
    </div>
  </div>

  <div class="container">
    <hr>
    <div class="row centered">
      <div class="col-lg-6 col-lg-offset-3">

      </div>
      <div class="col-lg-3"></div>
    </div><!-- /row -->

  </div><!-- /container -->

  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Our Awesome Team.<br/>Design Lovers.</h1>
        <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
      </div>
    </div><!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-4">
        <img class="img-circle" src="../../images/pic1.jpg" width="140" alt="">
        <h4>Michael Robson</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="../../images/pic2.jpg" width="140" alt="">
        <h4>Pete Ford</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="../../images/pic3.jpg" width="140" alt="">
        <h4>Angelica Finning</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->

  </body>


